DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=
DB_SSL=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXP=60
JWT_REFRESH_EXP=3155760000
AUTH_DEFAULT_ROLE=USER

HOST=localhost
PORT=8080